* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Roboto;
}

.container {
    height: 100vh;
    width: 47%;
    margin: 0 auto;
    /* text-align: center; */
    background: #f6f6f6;
    padding: 30px;
}

.heading {
    /* display: block; */
    text-decoration: none;
    color: black;
    text-align: center;
    /* margin-top: 100px; */
}

.heading h1 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-weight: 500;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.top-bar h2 {
    font-size: 27px;
    font-weight: 500;
}

.top-bar a {
    text-decoration: none;
    width: 150px;
    height: 35px;
    background-color: #347bf6;
    color: white;
    border-radius: 5px;
    padding-top: 8px;
    text-align: center;
}

#search {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.contact {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    background: white;
    padding: 20px;
    justify-content: space-between;
    border: #a6a6a6 solid 1px;
}

.name {
    text-decoration: none;
    color: black;
    font-size: 27px;
}

.number {
    margin-top: 5px;
    color: #a6a6a6;
}

.delete {
    text-decoration: none;
    color: red;
    font-size: 27px;
}

.add_heading {
    text-align: center;
    margin-bottom: 70px;
    font-size: 27px;
    font-weight: 400;
}

.input {
    margin-bottom: 20px;
}


.input label {
    font-size: 23px;
    margin-right: 20px;
}

.input input {
    height: 35px;
    width: 300px;
    font-size: 20px;
}

.buttons {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    color: red;
    font-size: 27px;
}

.buttons button {
    background-color: #347bf6;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
}

.delete-title {
    margin-top: 50px;
    font-weight: 400;
}