{% extends 'main.html' %}

{% block content %}
    <h2 class="add_heading">Create a new contact</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="input">
            <label for="name">Name</label>
            <input required type="text" name="name">
        </div>
        <div class="input">
            <label for="number">Number</label>
            <input required type="text" name="number">
        </div>

        <div class="buttons">
            <a href="{% url 'home' %}" id="cancel">Cancel</a>
            <button type="submit" id="add">Add contact</button>
        </div>
    </form>

{% endblock %}