{% extends 'main.html' %}

{% block content %}
    <h2 class="add_heading">Edit contact</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="input">
            <label for="name">Name</label>
            <input required type="text" name="name" value="{{contact.name}}">
        </div>
        <div class="input">
            <label for="number">Number</label>
            <input required type="text" name="number" value="{{contact.number}}">
        </div>

        <div class="buttons">
            <a href="{% url 'home' %}" id="cancel">Cancel</a>
            <button type="submit" id="add">Edit contact</button>
        </div>
    </form>

{% endblock %}