{% extends 'main.html' %}

{% block content %}
    <header>
        <h2>Contacts</h2>
        <a href="{% url 'addContact' %}">+ Add contact</a>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="q" placeholder="Search for contact by last name...">
        </form>

        {% for contact in contacts %}
            <div class="contact">
                <div>
                    <p>{{contact.name}}</p>
                    <p>{{contact.number}}</p>
                </div>
                <a href="{% url 'deleteContact' contact.id %}">Delete</a>
            </div>
        {% endfor %}

    </header>
{% endblock %}